* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content:'';
    clear:both;
    display: table;
}

.top {
    margin-top: 20px;
}

.pad-top {
    padding-top: 20px;
}

.left {
    float: left;   
}

.right {
    float: right;
}

header {
    padding:20px 20px;
    padding-bottom: 50px;
}

#logo {
    padding-right:10px;
}

a {
    text-decoration: none;
    color:black;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

button {
    padding: 3px 17px;
    background-color: #0064ff;
    text-decoration: none;
    border:none;
}

button a {
    color: white;
}

.azure {
    background-color: azure;
}

.first-row {
    margin: 0 auto;
    width: 90%;
    padding-top: 50px;
    min-width: 1200px;
}

.mini-testo {
    padding-top: 30px;
}

.first-row h1 {
    font-size: 90px;
}

.first-row img {
    width:70%;
    padding-left: 5%;
    position: relative;
    bottom: -80px;
}

.mini-testo p {
    width: 30%;
    float: left;
}

button ~ p  {
    margin-top: 10px;
}

span {
    font-size: 30px;
}

.gen-row {
    width: 80%;
    margin: 0 auto;
    margin-top: 40vh;
}

h2 {
    font-size: 50px;
    padding-bottom: 30px;
}

label:first-of-type {
    padding-right: 10px;
}

.columns {
    min-width: 1200px;
}

.col {
    width: 30%;
    border: 1px solid black;
    min-height: 800px;
}

.col p:first-child, .low-row p:first-child {
    border-bottom: 1px solid black;
    text-align: center;
}

.testo-col {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

h3 {
    font-size:25px ;
}

.testo-col p, .testo-col li {
    font-size:14px;
}

.mese {
    color: #6a6868;
    padding-top: 10px;
}

.prova {
    padding: 5px 30px;
    background-color: #0064ff;
    text-decoration: none;
    border: none
}

.prova a {
    font-size: 15px;
}

.ora {
    color:#0064ff;
    text-decoration-line: underline;
    font-size: 14px;
}

hr {
    width: 30%;
}

li {
    list-style-type: none;
    padding-left: 10px;
}

.true {
    color:#0064ff;
    font-size: 15px;
}

.center {
    margin: 20px 5%;
}

.low-row {
    width: 80%;
    margin-top: 50px;
    border: 1px black solid;
    margin:0 auto;
}

.row .sott-tit {
    padding-top: 10px;
}

.testo-row {
    padding: 20px 10px;
}

.cent {
    margin-top: 20vh;
}

.cent-row {
    margin:0 auto;
    width: 80%;
}

.img {
    width: 50%;
}

#img-cent {
    width: 100%;
}

.testo-cent {
    width: 50%;
    padding-left: 5vw;
    padding-top: 20px;
}

.testo-cent h3{
    padding-bottom: 30px;
}

.white {
    background-color: white;
    border: 1px solid black;
}

.white a {
    color: black;
}

.m-row {
    background-color: #f4f4f4;
}

.square {
    width: calc(100% / 3);
    padding: 0 25px 40px 0;
}

.square img {
    width: 100%;
}

.designit {
    width: 80%;
    margin: 0 auto;
}

.mini-square {
    width: 400px;
    height: 400px;
}

.fifty {
    width: 100vh;
    float: left;
    position: relative;
}

.mini-square div {
    width: 200px;
    height:200px;
}

.mini-square div img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.midd-testo {
    width: 47%;
    padding: 50px 20px;
}

.midd-testo img, .midd-testo hr {
    width: 20%;
}

.midd-testo p {
    padding-top: 40px;
}

.blue-part {
    padding: 60px 50px;
    width: 80%;
    margin: 0 auto;
}

.blue-part h2 {
    float: left;
    width: 70%;
    color:rgb(129, 43, 43);
}

.green {
    background-color: #e4ffb5;
    border: 9px #cff9cf solid;
}

.red-fire {
    background-color: red;
}

.red {
    background-color: rgb(195, 45, 45);
}

.brown{
    background-color: brown;
}

.blue {
    background-color:#2323ad;
}

.yellow {
    background-color: yellow;
}

.lightblue {
    background-color: lightblue;
}

.azzurro {
    background-color: #00c3ff;
}